<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Blog</title>
    <!-- <link href="{{url_for('static',filename='bootstrap.css')}}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div>

            <nav class="navbar navbar-inverse">
                <div class="">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('index')}}">My Blog</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="nav-link" style="font-family:'Roboto Condensed', sans-serif;"
                                href="{{ url_for('index')}}">Home</a></li>
                        <li class="active"> <a class="nav-link" style="font-family: 'Roboto Condensed', sans-serif;"
                                href="{{ url_for('about')}}">About</a></li>
                        <li class="active"> <a class="nav-link" style="font-family: 'Roboto Condensed', sans-serif;"
                                 href="{{ url_for('post')}}">Post a Blog</a></li> -->
                       
                    </ul>
                   
                </div>
            </nav>
        </div>
        <!-- <div>
            <h1 style="text-align: center">{{post.title}}</h1>
            <h2 style="text-align: center">{{post.subtitle}}</h2>
            <h4 style="text-align: center"> Posted by {{post.author}} on {{post.date_posted}} </h4>
            <p>{{post.content|safe}}</p>


            


        </div> -->
    </div>
</body>

</html>